* {
  font-family: "Consolas";
}
#main {
  display: flex;
  justify-content: space-evenly;
  width: 99vw;
  height: 90vh;
}

#game-container {
  width: 100%;
  height: 100%;
  background-color: black;
}

#sidebar {
  width: 35em;
  height: 100%;
  border: solid 3px black;
  display: flex;
  flex-direction: column;
}
#sidebarHome {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#sidebarMenu button {
  height: 100px;
  width: 100%;
  border-radius: 200px;
  font-size: 2rem;
}
#sidebarMenu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
#chatWindow {
  border: solid 3px black;
  height: 40%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
}
#chatHistory {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  text-align: justify;
  width: 100%;
  /* height: 100%; */
  overflow-y: scroll;
  scroll-behavior: smooth;
}
#inputField input {
  width: 100%;
}
#inputField button {
  height: 25px;
}
#inputField {
  display: flex;
  width: 100%;
}
#addCreature button {
  border-radius: 20px;
}
#addCreature {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
#addCreature form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#generateCreatureInput {
  margin: 5px;
  height: 100%;
  width: 99%;
  resize: none;
  font-size: 2rem;
}
#generateCreatureInputButton {
  margin: 5px;
  height: 10em;
  width: 100%;
  font-size: 2rem;
  align-self: flex-end;
}
